variables:
  GIT_SSL_NO_VERIFY: "1"

test:
  image: oszi/buildpack:latest
  stage: test
  script:
    - make
    - gem install diffy
    - ruby test.rb
    - ruby fuzzy/main.rb
  only:
    - branches
